.faq {
    max-width: 70%  ;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    color: rgb(4, 4, 4);
}

.faq > p
.faq > h1 {
    margin: 1.5rem 0;
    text-align: center;
}  

.faq > h1 {
    letter-spacing: 2.6px;
    font-size: 60px;
}

.faq > p {
    font-size: 20px;
}

.buttonfaq {
    background-color: rgba(0,92,149,255);
    color: white;
    cursor: pointer;
    font-size: 17px;
    width: 70%;
    padding: 1rem 1.5rem;
    border: 2px;
    border-radius: 10px;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.panel1 {
    padding: 0 18px;
    background-color: rgb(180, 211, 130);
    overflow: hidden;
    display: none;
    max-width: 66%;
    border: 2px;
    border-radius: 10px;  
}

.panel1 p{
    color: rgb(0, 0, 0);
    font-size: 22px;
    line-height: 1.4;  
}

.faq.active {
    border: no;
}