body {
    background-image: url(https://jessicaroots.com/wp-content/uploads/2018/03/portfolio-background-header-53082_1080x675.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

main {
    padding: 16px;
    margin-bottom: 30px;
}

.list h5 {
    text-align: center;
    font-size: 25px;
    padding-top: 50px;
}

.list ul {
    text-align: center;
}

.list li {
    font-size: 20px;
    border: 2px solid black;
    border-style: ridge;
    padding-bottom: 25px;
    border-collapse: separate;
}

.full {
    width: 50%;
    max-width: 1000px;
    min-height: 100px;
    background-color: rgb(245, 239, 231);
    margin-left: 369px;
    display: grid;
    grid-template-columns: 2fr 4fr;
}

.left {
    position: initial;
    background-color: rgba(0, 92, 149, 255);
    padding: 20px;
    color: white;
}
.right {
    position: initial;
    background-color: rgba(23, 128, 195, 255);
    padding: 20px;
    color: white;
}

.image,
.Contact,
.Skills,
.Language,
.Hobbies,
.title,
.Summary,
.Experience,
.Education,
.project {
    margin-bottom: 30px;
}

.topnavbar ul {
    list-style-type: none;
    background-color: rgb(48, 48, 46);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    width: auto;
}

.topnavbar a {
    color: #f2f2f2;
    text-decoration: none;
    float: left;
    padding: 14px 16px;
    display: block;
    text-align: center;
    font-size: 17px;
}

.topnavbar a.active {
    background-color: rgb(48, 48, 46);
    color: rgb(234, 71, 71);
}

.a.active {
    color: rgb(234, 71, 71);
}

.topnavbar a:hover {
    background-color: rgb(31, 31, 28);
}

.topnavbar li {
    float: inherit;
}

.dropdown-content {
    display: none;
    background-color: inherit;
    min-width: 160px;
    z-index: 5;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.wrap {
    width: 900px;
    margin: 0 auto;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box0;
}

.footer {
    width: 100%;
    height: 30vh;
    margin-top: 100px;
    background-color: rgb(48, 48, 46);
    color: #f2f2f2;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    
}

.footer-heading {
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
}

.footer-heading h2 {
    margin-bottom: 1.1rem;
    margin-top: 15px;
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.footer-heading a {
    font-size: 12;
    text-decoration: none;
    margin-bottom: 1.5rem;
   background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-heading a:hover {
    color: rgb(128, 237, 74);
    transition: 0.3s ease-in-out;
}

  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 2;
    left: 0;
    background-color: rgb(48, 48, 46);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color:  #f2f2f2;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f01515;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color:  rgb(48, 48, 46);
    color: white;
    padding: 10px 15px;
    border: none; 
  }
  
  .openbtn:hover {
    background-color: #444;
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
@media screen and (max-width: 1025px) {
    .footer {
        height: 50vh;
    }
}

@media screen and (max-width: 820px) {
    .footer {
        padding-top: 2rem;
    }
}

@media screen and (max-width: 1025px) {
    .footer {
        height: 50vh;
    }
}